@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    scroll-behavior: smooth;
}

.container {
    margin: 0 45px;
}

.container-height {
    margin: 50px 0;
}

.container-height-contact {
    margin: 20px 0;
}

.container-height-p {
    margin: 20px 0;
}

nav {
    position: fixed;
    min-height: 54px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    font-weight: 400;
    font-size: 15px;
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

nav .logo {
    float: left;
    width: 70%;
    height: 100%;
}

nav .nav-links {
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    display: block;
}

.logo {
    font-size: 20px;
}

.logo p a {
    text-decoration: none;
    color: #000;
}

.logo p span {
    font-weight: 700;
}

#nav-toggle {
    position: absolute;
}

nav .burger {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateX(5%);
    transform: translateY(-50%);
    display: none;
}

nav .burger .line {
    width: 25px;
    height: 3px;
    background: #000;
    margin: 5px;
    border-radius: 3px;
}

.jumbotron {
    background-image: url('../img/bg-jumbotron.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-y: 70%;
    background-position-x: center;
}

.jumbotron p {
    font-size: xx-large;
}

.jumbotron p span {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.651);
    padding: 10px;
    letter-spacing: 5px;
    border-radius: 5px;
}

.img-grid {
    display: flex;
    width: 100%;
    margin: 0 auto;   
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-img {
    position: relative;
    display: block;
    margin-top: 20px;    
}

.img-square-1 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 
.img-square-2 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 
.img-square-3 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 
.img-square-4 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 
.img-square-5 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 
.img-square-6 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 
.img-square-7 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 
.img-square-8 {
    position: absolute;
    background-color: #000;
    padding: 10px 65px;
    color: #fff;
} 

.card {
    min-height: 300px;
    width: 24%;
}

.img-person {
    width: 100%;
    margin-bottom: 20px;
    max-height: 200px;
}

.p-card {
    color: grey;
    margin: 15px 0;
}

.contactBtn {
    display:inline-block;
    width: 100%;
    background: grey;
    margin-top: 15px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
}

.formInput {
    display:inline-block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

input[type="text"]::placeholder {
    padding-left: 15px;
    font-size: 15px;
}

.formBtn {
    padding: 10px;
    background: #000;
    color: #fff;
    border: unset;
    cursor: pointer;
    transition: ease .3s;
}

.formBtn:hover {
    background: #fff;
    color: #000;
    border: thin solid #000;
}

.img-footer {
    background-image: url('../img/bg-footer.jpg');
    background-size: cover;
    background-position: center center;
    height: 90vh;
    width: 100%;
    margin: 40px 0;
}

footer {
    width: 100%;
    height: 54px;
    background: #000;
    color: #fff;
    position: relative;
}

footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
    }

    nav .nav-links {
        float: none;
        position: fixed;
        z-index: 3;
        right: 0;
        top: 54px;
        height: 50vh;
        background-color: rgb(245, 245, 245);
        flex-direction: column;   
        justify-content: space-around;
        align-items: center;
    }

    nav .burger {
        display: block;
        cursor: pointer;
    }

    nav .displaynone {
        display: none;
    }

    .card {
        min-height: 300px;
        width: auto;
        margin-bottom: 15px;
    }

    .card-wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .img-person {
        max-height: unset;
    }
}